In [1]:
import pandas as pd

In [4]:
import numpy as np
import glob

In [9]:
path = r'C:\Users\LENOVO\Activity Recognition from Single Chest-Mounted Accelerometer' # use your path
all_files = glob.glob(path + "/*.csv")

li=[]

for filename in all_files:
   df = pd.read_csv(filename,index_col=None,header=0)
   li.append(df)
   
frame = pd.concat(li,axis=0,ignore_index=True,sort=False)
frame

,0,1502,2215,2153,1,2082,2165,1702,1983,2438,...,1629,1892,2279,1781,2057,2043,1665,2287,2948,2189
0,1.0,1667.0,2072.0,2047.0,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1611.0,1957.0,1906.0,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1601.0,1939.0,1831.0,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1643.0,1965.0,1879.0,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1604.0,1959.0,1921.0,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926876,166740.0,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2072.0,2545.0,2059.0
1926877,166740.0,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2069.0,2547.0,2064.0
1926878,166740.0,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2069.0,2542.0,2062.0
1926879,166740.0,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2069.0,2543.0,2063.0
1926880,166740.0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2065.0,2534.0,2060.0